<header >
    <div class="navbar navbar-expand-lg  navbar-light bg-light navbar-default navbar-fixed-top">
      <img src="./assets/logo.jpg" height="60px" width="60px" style="border-radius: 40%;" alt=""><pre>    </pre>
      <p class="navbar-brand" href="#" style="font-size: 40px; text-decoration: none;"> <b> Foodie</b></p>
      <pre>   </pre><a  routerLink="/main" class="logo">Home</a>
      <pre>   </pre><a  routerLink="/about" class="logo">About</a>
      <pre>   </pre><a  routerLink="/contact" class="logo">Contact</a>
      <pre>                                                                               </pre>
     <!-- <div class="div1"> -->
      
        <nav><ul>
            <li><a  routerLink="/register"><i class="fa ">     </i>  Register</a></li>
          </ul>
        </nav> 
        <nav><ul>
          <li><a routerLink="/login"><i class="fa ">      </i>LogIn</a> </li>
         </ul>
       </nav> 
   
  
  
  
  </div>
  </header>