<app-contact-nav></app-contact-nav>
<body>
  <section id="contact">
     <div class="container">
         <h1 class="text-center text-uppercase">contact us</h1>
         <p class="text-center w-75 m-auto">Do you have any questions? Please do not hesitate to contact us directly. Our team will<br> come back to you within
          a matter of hours to help you.</p>
         <div class="row">
           <div class="col-sm-12 col-md-6 col-lg-3 my-5">
             <div class="card border-0">
                <div class="card-body text-center">
                  <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                  <h4 class="text-uppercase mb-5">call us</h4>
                  <p>+91-7075555166, +91-9824656555</p>
                </div>
              </div>
           </div>
           <div class="col-sm-12 col-md-6 col-lg-3 my-5">
             <div class="card border-0">
                <div class="card-body text-center">
                  <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                  <h4 class="text-uppercase mb-5">Head Office</h4>
                 <address>Electronic City 153, Banglore,546625 </address>
                </div>
              </div>
           </div>
           <div class="col-sm-12 col-md-6 col-lg-3 my-5">
             <div class="card border-0">
                <div class="card-body text-center">
                  <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                  <h4 class="text-uppercase mb-5">office loaction</h4>
                  <address>190B,New delhi,110044 </address>
                </div>
              </div>
           </div>
           <div class="col-sm-12 col-md-6 col-lg-3 my-5">
             <div class="card border-0">
                <div class="card-body text-center">
                  <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                  <h4 class="text-uppercase mb-5">email</h4>
                  <p>Custome.care@foodieapp.com</p>
                </div>
              </div>
           </div>
         </div>
     </div>
  </section>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>