<header>
  <div class="navbar navbar-expand-lg  navbar-light bg-light navbar-default navbar-fixed-top">
    <img src="./assets/logo.jpg" height="60px" width="60px" style="border-radius: 40%;" alt=""><pre>    </pre>
    <p class="navbar-brand" href="#" style="font-size: 40px; text-decoration: none;"> <b> Foodie</b></p>
    <pre>   </pre><a href="#" routerLink="" class="logo">Home</a>
    <pre>   </pre><a href="#" routerLink="/about" class="logo">About</a>
    <pre>   </pre><a href="#" routerLink="/contact" class="logo">Contact</a>
    <pre>                                                                            </pre>
    <!-- <nav><ul>
      <li><a  routerLink="/vendor"><i class="fa ">     </i>  main</a></li>
    </ul>
  </nav> -->
   <nav><ul>
      <li><a  routerLink="/register"><i class="fa ">     </i>  Register</a></li>
    </ul>
  </nav> 
  <nav><ul>
    <li><a routerLink="/login"><i class="fa ">      </i>LogIn</a> </li>
   </ul>
 </nav> 
 
  </div>
</header>
  <!-- <img src="./assets/p1111.jpg" style="width: 100%; height: 100%;"> -->

  <div style="background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
  background: linear-gradient(to bottom right, rgb(120, 175, 230), rgb(75, 111, 179))">
  
  <br> 
  <br><br><br><br><br><br><br><br><div class="content">
    <div class="container">
      <div class="row">
  <div class="col-md-6">
    <img src="../../assets/gifs/3957701-1599802431957.jpg" style="rotate: 50;" alt="Image" class="img-fluid">
  </div>
  <div class="col-md-6 contents">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="mb-4">
  <p style="font-size: 40px;font-family:'indie flower' ;">Foodie Application</p>
  <br>
<h3>When you eat food with your family and friends, it always tastes better! so what are you Waiting For Order you food now</h3>
</div></div></div></div></div></div></div>
<br><br><br><br>
<br>
<div style="border-top: 8px solid #254A73; width:91%;margin-left: 5%;margin-top:4.5%"></div>
<div id="footer" style="text-align: center;">
    <ul style="margin-left: 17%;">
      <li><a href="index.html">TermsFeed © 2021 - 2022</a> |</li>  Cookies Policy  Terms of Use
      <li><a routerLink="/privacy">Privacy Policy</a> |</li>
      <li><a href="index2.html">Cookies</a> |</li>
      <li><a href="index2.html">Terms of Use</a> </li>
      <li><a href="index2.html">Services</a> |</li>
      <li><a href="index2.html">Reviews</a> |</li>
      <li><a href="index2.html">Partners</a> |</li>
      <li><a href="index2.html">Contact us</a></li>
      <li style="margin-left: 10%;"><i class="fa"></i></li>
      <li style="margin-left: 2%;"></li>
      <li style="margin-left: 2%;"></li>
    </ul>
  </div>

</div>


  
