<header>
	<div class="navbar navbar-expand-lg  navbar-light bg-light navbar-default navbar-fixed-top">
		<img src="./assets/logo.jpg" height="60px" width="60px" style="border-radius: 40%;" alt="">
		<pre>    </pre>
		<p class="navbar-brand" href="#" style="font-size: 40px; text-decoration: none;"> <b> Foodie</b></p>
		<pre>   </pre><a routerLink="/vendor" class="logo">Home</a>
		<pre>   </pre><a routerLink="/about" class="logo">About</a>
		<pre>   </pre><a routerLink="/contact" class="logo">Contact</a>
		<pre>                                                                                       </pre>
		<nav>
			<ul>
				<li><a routerLink="">Logout</a> </li>
			</ul>
		</nav>
	</div>
</header>
