<header >
    <div class="navbar navbar-expand-lg  navbar-light bg-light navbar-default navbar-fixed-top">
      <img src="./assets/logo.jpg" height="60px" width="60px" style="border-radius: 40%;" alt=""><pre>    </pre>
      <p class="navbar-brand" href="#" style="font-size: 40px; text-decoration: none;"> <b> Foodie</b></p>
      <pre>   </pre><a  routerLink="/main" class="logo">Home</a>
      <pre>   </pre><a  routerLink="/about" class="logo">About</a>
      <pre>   </pre><a  routerLink="/contact" class="logo">Contact</a>
      <pre>                                                                               </pre>
     <!-- <div class="div1"> -->
        <nav><ul>
            <li><a  routerLink="/register"><i class="fa ">     </i>  Register</a></li>
          </ul>
        </nav>
        <nav><ul>
          <li><a routerLink="/login"><i class="fa ">      </i>LogIn</a> </li>
         </ul>
       </nav>
  <!-- </div> -->
  </div>
  </header>
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<body>
<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">Application allows a customer to order food from multiple restaurants which  have registered with the application.
                    </p>
                    <p class="aboutus-text">Application allows vendor to add restaurant and cuisines in the database</p>
                    <!-- <a class="aboutus-more" href="#">read more</a> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <!-- <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div> -->
                            <div class="feature-content">
                                <h4>Fast and Safe Delivery</h4>
                                <p>Place the food order and get it within 15 minutes to get it delever.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <!-- <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div> -->
                            <div class="feature-content">
                                <h4>Reliable services</h4>
                                <p>Discover the best food and drinks nearby your location</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <!-- <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div> -->
                            <div class="feature-content">
                                <h4>Great support</h4>
                                <p>We Foodie provides 24*7 food delevry in almost every location.</p>
                            </div>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>