<header >
  <div class="navbar navbar-expand-lg  navbar-light bg-light navbar-default navbar-fixed-top">
    <img src="./assets/logo.jpg" height="60px" width="60px" style="border-radius: 40%;" alt=""><pre>    </pre>
    <p class="navbar-brand" href="#" style="font-size: 40px; text-decoration: none;"> <b> Foodie</b></p>
    <pre>   </pre><a href="#" routerLink="/main" class="logo">Home</a>
    <pre>   </pre><a href="#" routerLink="/about" class="logo">About</a>
    <pre>   </pre><a href="#" routerLink="/contact" class="logo">Contact</a>
    <pre>                                                                               </pre>
   <!-- <div class="div1"> -->
    
   <nav><ul>
      <li><a routerLink="/cart"><i class="fa fa-shopping-cart">     </i>  Cart</a></li>
    </ul>
  </nav> 
  <nav><ul>
    <li><a routerLink="/favourite"><i class="fa fa-heart">      </i>Favourite</a> </li>
   </ul>
 </nav> 
 <nav><ul>
  <li><a routerLink="/profile"><i class="fa fa-user-circle-o">      </i>Profile</a> </li>
 </ul>
</nav>
 <nav><ul>
  <li><a routerLink=""><i class="fa fa-sign-out">     </i>Log out</a> </li>
 </ul>
</nav> 

<!-- </div> -->
</div>
</header>


